In [1]:
import pandas as pd

In [14]:
df = pd.read_excel("deliveries.xlsx", header=1)

df = df.rename(columns={'My House?': 'MyHouse'})
clean_df = df[["Date", "Company", "MyHouse"]]
clean_df.head()

        Date Company MyHouse
0 2020-03-23  Amazon      No
1 2021-03-23  Amazon      No
2 2022-03-23  Amazon      No
3 2020-03-24  Amazon      No
4 2020-03-24  Amazon     Yes

In [16]:
import sqlite3
conn = sqlite3.connect("deliveries.sqlite")

# move df to db
clean_df.to_sql("deliveries", conn, if_exists="append")