In [1]:
import pandas as pd

In [17]:
df = pd.read_excel("deliveries.xlsx", header=1)

df = df.rename(columns={'My House?': 'MyHouse'})
clean_df = df[["Date", "Company", "MyHouse"]]
clean_df.tail()

         Date Company MyHouse
67 2020-04-24  Amazon      No
68 2020-04-25     UPS      No
69 2020-04-26  Fed Ex      No
70 2020-04-26     UPS      No
71 2020-04-25  Amazon      No

In [16]:
import sqlite3
conn = sqlite3.connect("deliveries.sqlite")

# move df to db
clean_df.to_sql("deliveries", conn, if_exists="append")